html, body{
    height: 100%;
    width: 100%;
}

html{
    background-color: lightblue;
}

footer{
    text-align: right;
    position: relative;
    bottom: 0;
    width: 100%;
}

.wrapper{
    display: grid;
    align-items: center;
    align-self: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 5px, 5px; /* outer gap */
    grid-template-columns: repeat(12,1fr); /*12 col equal height*/
    grid-template-rows: repeat(12,1fr);
}

header{
    grid-row-start:2;
    grid-row-end:4;
    grid-column-start:5;
    grid-column-end:9;
    font-weight: bold;
}

#sessionSquare{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    align-self: center;
    text-align: center;
    height: 100%;
    width: 100%;
    grid-row-start:4;
    grid-row-end:6;
    grid-column-start:3;
    grid-column-end:6;
}

.square, .changeTimeBtn, .timeLabel{
    background-color: rgb(83, 83, 83);
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

#sessionDecreaseTimeBtn, #sessionIncreaseTimeBtn,
#breakDecreaseTimeBtn, #breakIncreaseTimeBtn
{
    height: 90%;
    width: 90%;
    align-self: center;
    text-align: center;
    align-items: center;
}

.squareLabel{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end:4;
}

#breakSquare{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    align-self: center;
    text-align: center;
    height: 100%;
    width: 100%;
    grid-row-start:4;
    grid-row-end:6;
    grid-column-start:8;
    grid-column-end:11;
}

#mainSquare{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    align-self: center;
    text-align: center;
    height: 100%;
    width: 100%;
    grid-row-start:8;
    grid-row-end:13;
    grid-column-start:3;
    grid-column-end:11;
    border-radius: 10px;
}

#mainSquareLabel{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end:13;
}

#mainTimeLabel{
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start:1;
    grid-column-end:13;
}

#resetBtnContainer{
    grid-row-start:3;
    grid-row-end:4;
    grid-column-start:1;
    grid-column-end:4;
}

#pauseBtnContainer{
    grid-row-start:3;
    grid-row-end:4;
    grid-column-start:4;
    grid-column-end:7;
}

#startBtnContainer{
    grid-row-start:3;
    grid-row-end:4;
    grid-column-start:7;
    grid-column-end:10;
}

#stopBtnContainer{
    grid-row-start:3;
    grid-row-end:4;
    grid-column-start:10;
    grid-column-end:13;
}

#startBtn, #stopBtn, #resetBtn, #pauseBtn{
    height: 90%;
    width: 80%;
}
